.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    margin-left: 80vh;
    width: 50vh;
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
    border-radius: 50px;

}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20vh;
    margin-left: 80vh;
    width: 50vh;
    padding: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
    border-radius: 50px;


}




#submit {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: .75rem 3.5rem;

    color: #000000;
    text-transform: uppercase;
    font-size: 1rem;

}

label {

    font-size: 22px;

}

body {

    background-color: gray;
    background-size: cover;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
}