.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



#submit {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: .75rem 3.25rem;
    border-radius: 10rem;
    color: #000000;
    text-transform: uppercase;
    font-size: 1rem;



}

p {
    color: darkgrey;
    font-size: 15px
}

.container,
p {
    margin-top: -10px;

}